{{ define "main" }}
  {{ $base := printf "content/%s" .File.Dir }}

  {{ $background_image := resources.Get "background.png" | fingerprint }}
  {{ $background_image := $background_image.Resize "x4000" }}

  <div class="videos">
    <div class="videos-description">
      {{ .Content }}
    </div>
    <div class="videos-list">
      {{ range (readDir $base) }}
        {{ if not (eq .Name "index.md") }}
          {{ $basename := index (split .Name ".") 0}}
          {{ $src := printf "%s%s" $.RelPermalink .Name }}
          <video width="1240" controls>
            <source src="{{ $src }}" type=video/mp4>
          </video>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <style>
    .videos {
      background-image: url( {{ $background_image.Permalink  }});
      width: 100%;
      background-attachment: fixed;
      background-position: center 0px;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }
    .videos-description {
      color: white;
      font-size: 2rem;
      padding-top: 50px;
    }
    .videos-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1400px;
      justify-content: center;
    }
    .videos-list video {
      border-radius: 15px;
      margin: 50px;
    }
    @media (max-width: 500px) {
      .videos-description {
        padding-top: 20px;
      }
      .videos-list {
        padding: 20px;
      }
      .videos-list video {
        margin: 0px;
        margin-bottom: 40px;
        width: 100%;
      }
    }
  </style>
{{ end }}
