{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ $base := printf "content/%s" .File.Dir }}

{{ .Content }}
<ul>
  {{ range (readDir $base) }}
    {{ if .IsDir }}
      {{ $subdir := printf "%s/%s" $base .Name }}
      {{ $files := where (readDir $subdir) "IsDir" false }}
      {{ if gt (len $files) 0 }}
        {{ $file := index $files 0 }}
        <li>
          <a href="{{ printf "%s%s/%s" $.RelPermalink .Name $file.Name }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
{{ end }}
